
            <ng-content select="#todo"></ng-content>
        <ul>
            <li class="todo-task task" *ngFor="let item of todoList; let i=index">
                <p>    {{i+1}} - #{{item.id}} {{item.title}}</p>
                <div>
                    <button class="btn btn-checked" (click)="checkedTask(item)">check</button>
                    <button class="btn btn-delete" (click)="deleteTodoTask(item)">x</button>
                </div>
            </li>
           
       
        </ul> 











