.add-btn{
    background-color: rgb(68, 92, 33);
    color: rgb(211, 206, 206);
    font-weight: 900;
}
div{
    margin: 1rem;
    input{
        margin-right: 5px;
        border: none;
        box-shadow: 1px 3px 3px -9px rgba(0, 0, 0, 0.712);
        };
}
